*/node_modules/
node_modules/

apps/client/.next/
apps/client/out/
apps/server/dist/

.idea

*tsbuildinfo

.env
.env.local
.env.*.local
kinetic-env.d.ts

.DS_Store
Thumbs.db

*.log
npm-debug.log*

*/dist
